In [1]:
from ib_insync import *
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, clear_output
util.startLoop()

In [2]:
ib = IB()
ib.connect()

In [3]:
contract = Forex('EURUSD')
contract

Forex('EURUSD', exchange='IDEALPRO')

In [4]:
bars = ib.reqHistoricalData(contract,
                            endDateTime= '',
                            durationStr= '100 S',
                            barSizeSetting= '10 secs',
                            whatToShow= 'MIDPOINT',
                            useRTH= True,
                            formatDate= 2 ,
                            keepUpToDate= True)

In [5]:
pd.DataFrame(bars)

,date,open,high,low,close,volume,average,barCount
0,2023-04-07 11:03:30+00:00,1.09185,1.09185,1.09180,1.09180,-1.0,-1.0,-1
1,2023-04-07 11:03:40+00:00,1.09180,1.09180,1.09180,1.09180,-1.0,-1.0,-1
2,2023-04-07 11:03:50+00:00,1.09180,1.09180,1.09180,1.09180,-1.0,-1.0,-1
3,2023-04-07 11:04:00+00:00,1.09180,1.09180,1.09180,1.09180,-1.0,-1.0,-1
4,2023-04-07 11:04:10+00:00,1.09180,1.09180,1.09180,1.09180,-1.0,-1.0,-1
5,2023-04-07 11:04:20+00:00,1.09180,1.09180,1.09180,1.09180,-1.0,-1.0,-1
6,2023-04-07 11:04:30+00:00,1.09180,1.09190,1.09180,1.09190,-1.0,-1.0,-1
7,2023-04-07 11:04:40+00:00,1.09190,1.09190,1.09185,1.09185,-1.0,-1.0,-1
8,2023-04-07 11:04:50+00:00,1.09185,1.09185,1.09185,1.09185,-1.0,-1.0,-1
9,2023-04-07 11:05:00+00:00,1.09185,1.09185,1.09185,1.09185,-1.0,-1.0,-1

In [6]:
def on_bar_update(bars, new_bar):
    df = pd.DataFrame(bars)[['date', 'open', 'high', 'low', 'close']]
    df.set_index('date', inplace= True)
    clear_output(wait= True)
    display(df)

In [7]:
bars = ib.reqHistoricalData(contract,
                            endDateTime= '',
                            durationStr= '50 S',
                            barSizeSetting= '5 secs',
                            whatToShow= 'MIDPOINT',
                            useRTH= True,
                            formatDate= 2 ,
                            keepUpToDate= True)

In [8]:
bars.updateEvent += on_bar_update #activates the function

                              open     high      low    close
date
2023-04-07 11:04:30+00:00  1.09180  1.09190  1.09180  1.09190
2023-04-07 11:04:35+00:00  1.09190  1.09190  1.09185  1.09190
2023-04-07 11:04:40+00:00  1.09190  1.09190  1.09185  1.09185
2023-04-07 11:04:45+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:04:50+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:04:55+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:00+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:05+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:10+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:15+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:20+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:25+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:30+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:35+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:40+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:45+00:00  1.09185  1.09185  1.09185  1.09185
2023-04-07 11:05:50+00:00  1.09185  1.09185  1.09185  1.09185

In [9]:
bars.updateEvent -= on_bar_update #deactivates the function

In [10]:
ib.cancelHistoricalData(bars)

Error 162, reqId 16: Historical Market Data Service error message:API historical data query cancelled: 16